<div id="<%= dom_id portfolio %>">
  <p>
    <strong>
      <%= portfolio.name %>
    </strong>
  </p>
  <!--
  <p>
    --> <!--
    <strong>Tickers:</strong>
    --> <!--
    <%= portfolio.tickers %>
    --> <!--
  </p>
  --> <!----> <!--
  <p>
    --> <!--
    <strong>Weights:</strong>
    --> <!--
    <%= portfolio.weights %>
    --> <!--
  </p>
  -->
</div>
