<div class="flex justify-between items-center w-full">
  <div class="block shrink truncate">
    <p class="text-lg font-bold"><%= ticker.symbol %></p>
    <p class="mr-1 text-sm italic text-base-content/50 truncate"><%= ticker.name %></p>
  </div>

  <div class="pr-2 pl-3 font-bold text-center text-primary">
    <%= format_percentage(weight) %>%
  </div>
</div>
