<div class="pt-4 text-sm text-base-content/75">
  &larr;
  <%= link_to "Back to \"#{@portfolio.name}\"", @portfolio, class: "link link-hover" %>
</div>

<h1 class="pt-4 text-2xl font-bold">Edit Portfolio</h1>

<%= render partial: "form", locals: { portfolio: @portfolio } %>
