<div class="pt-4 text-sm text-base-content/75">
  &larr;
  <%= link_to "Back to Portfolio Overview", @portfolio, class: "link link-hover" %>
</div>

<h1 class="pt-4 text-2xl font-bold">Edit
  <span class="px-0.5 text-accent"><%= @portfolio.name %></span></h1>

<%= render partial: "form", locals: { portfolio: @portfolio } %>
