<section class="pt-8">
  <h1 class="pb-4 text-2xl font-semibold">Ticker Search</h1>

  <%= turbo_frame_tag "tickerSearch" do %>
    <%= render "search/tickers/input" %>
    <div class="pt-4 italic text-base-content/50">
      Use the search box above to find stock using their ticker.
    </div>
  <% end %>
</section>
