<p style="color: green"><%= notice %></p>

<% content_for :title, "Portfolios" %>

<div class="flex gap-8 items-center">
  <h1 class="py-4 text-3xl font-semibold">Portfolios</h1>
  <%= link_to "Create a Portfolio",
  new_portfolio_path,
  class: "btn btn-accent btn-sm btn-soft" %>
</div>

<div
  id="portfolios"
  class="grid grid-cols-3 grid-flow-row gap-4 grid-rows-auto"
>
  <% if !@portfolios %>
    <div class="p-4 rounded-md border border-base-300">
      <p>No portfolios yet.</p>
    </div>
  <% else %>
    <% @portfolios.each do |portfolio| %>
      <div class="p-4 rounded-md border border-base-300">
        <%= render portfolio %>
        <div class="pt-2">
          <%= link_to "Show this portfolio", portfolio, class: "btn btn-sm" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
