<% content_for :title, "Create a Portfolio" %>

<div class="pt-4 text-sm text-base-content/75">
  &larr;
  <%= link_to "Back to Portfolios List", portfolios_path, class: "link link-hover" %>
</div>

<h1 class="pt-4 text-3xl font-semibold">Create a Portfolio</h1>

<%= render "form", portfolio: @portfolio %>
