<% content_for :title, "New portfolio" %>

<h1 class="pt-8 text-3xl font-semibold">New Portfolio</h1>

<%= render "form", portfolio: @portfolio %>

<br>

<div>
  <%= link_to "Back to portfolios", portfolios_path, class: "btn" %>
</div>
