<div class="p-2 mx-auto rounded-md bg-base-200 w-sm">
  <div class="flex gap-4 items-center">
    <!-- logo or fallback icon -->
    <div class="px-2 shrink-0">
      <%= render partial: "shared/icons/money" %>
    </div>
    <div class="flex-1 truncate">
      <div class="text-lg font-semibold"><%= result[:ticker] %></div>
      <div class="text-sm italic text-base-content/50 truncate"><%= result[:name] %></div>
    </div>
    <div>
    </div>
  </div>
</div>
