<%= turbo_frame_tag "tickerSearch" do %>
  <%= render "search/tickers/input" %>

  <ul>
    <% @tickers.each do |ticker| %>
      <li>
        <h2><%= ticker %></h2>
      </li>
    <% end %>
  </ul>
<% end %>
