<%= turbo_frame_tag "tickerSearch" do %>
  <%= render partial: "search/tickers/input" %>

  <div class="grid grid-rows-3 grid-flow-col auto-cols-min gap-4 pt-4">
    <%= render partial: "result", collection: @tickers %>
  </div>
<% end %>
