<section>
  <div class="hero py-24">
    <div class="hero-content text-center flex flex-col">
      <div class="block">
        <p class="text-4xl text-base-content/25">Welcome to</p>
        <h1 class="text-7xl font-bold">Equal Risk Calculator</h1>
      </div>
      <div class="max-w-xl">
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et
          a id nisi.
        </p>
        <%= link_to "Build a Portfolio", new_portfolio_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</section>
