<div class="pt-8">
  <!-- TODO: header/hero content -->
  <h2>Ticker Search</h2>

  <%= turbo_frame_tag "tickerSearch" do %>
    <%= render "search/tickers/input" %>
    <div class="pt-4 italic text-base-content/50">
      Use the search box above to find stock using their ticker.
    </div>
  <% end %>
</div>
