<section>
  <div class="py-24 hero">
    <div class="flex flex-col text-center hero-content">
      <div class="block">
        <p class="text-4xl text-base-content/25">Welcome to</p>
        <h1 class="text-7xl font-bold">Equal Risk Calculator</h1>
      </div>

      <% if authenticated? %>
        <div class="py-16">
          <%= link_to "See Portfolios", portfolios_path, class: "btn btn-accent btn-lg" %>
        </div>
      <% else %>
        <div class="py-16">
          <%= link_to "Sign In", new_session_path, class: "btn btn-accent btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
