<% if count > 0 %>
  <span class="font-semibold text-primary">
    <%= count %>
    tickers
  </span>
<% else %>
  <span class="text-sm font-semibold text-base-content/50">
    No tickers added
  </span>
<% end %>
