<nav class="navbar bg-base-100 shadow-sm">
  <div class="flex items-center mx-auto max-w-7xl w-full sm:px-6 lg:px-8">
    <div class="flex-1">
      <div class="flex items-center text-xl">
        <%= render "shared/icons/calculator" %>
        <span class="pl-2 font-bold">
          Equal Risk Calculator
        </span>
      </div>
    </div>

    <div class="flex-none">
      <label class="toggle text-base-content">
        <input type="checkbox" value="upp" class="theme-controller"/>
        <%= render "shared/icons/sun" %>
        <%= render "shared/icons/moon" %>
      </label>
    </div>
  </div>
</nav>
