<nav class="navbar bg-base-100 shadow-sm">
  <div class="flex-none">
    <a class="btn btn-ghost text-xl">
      <%= render "shared/icons/calculator" %>
      <span class="pl-2 font-bold">
        Equal Risk Calculator
      </span>
    </a>
  </div>
</nav>
